# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/

# Analysis artifacts & logs
*.pml
*.csv
*.pcap
*.dmp
*.reg
decompiled/
logs/
temp/
*.log
configs/temp_certs/

# IDE & OS files
.vscode/
.idea/
Thumbs.db
Desktop.ini
